parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between null and null will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: src/Waymaker.php
